@font-face {
  font-family: "inter-regular";
  src: url(./assets/fonts/Inter_24pt-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
  color: #111111;
  background-color: #fafafa;
  --x-padding: 2rem;
}
#root > * > * {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
.header-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
}
.header {
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.header img {
  height: 2.8rem;
  border: 0.15rem solid white;
  border-radius: 2.8rem;
}
.logo-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-size: 1.4rem;
}
.nav-links-container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links-container ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
