@font-face {
  font-family: "inter-regular";
  src: url(./assets/fonts/Inter_24pt-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
}
