@font-face {
  font-family: "inter-regular";
  src: url(./assets/fonts/Inter_24pt-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-semibold";
  src: url(./assets/fonts/Inter_24pt-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
  color: #111111;
  background-color: #fafafa;
  --x-padding: 2rem;
  padding-top: 4.25rem;
  scrollbar-width: thin;
}
#root > * > * {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  max-width: 1100px;
  margin: 0 auto;
}
/* Resets */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  outline: none;
  background: none;
  font: inherit;
}

/* Header */
.header-wrapper {
  background-color: rgb(250, 250, 250, 0.8);
  border-bottom: 0.15rem solid #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  backdrop-filter: blur(0.4rem);
}
.header {
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  height: 2.8rem;
  border: 0.1rem solid black;
  border-radius: 2.8rem;
}
.logo-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-size: 1.4rem;
}
.nav-links-container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links-container ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 90vh;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 4.25rem;
}
.hero-heading-sub-heading-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero-heading-sub-heading-cta h1 {
  font-size: 3rem;
  font-family: "inter-semibold", Arial, Helvetica, sans-serif;
}
.hero-heading-sub-heading-cta p {
  color: #5f6368;
  max-width: 60%;
  font-size: 1.2rem;
}
.hero-heading-sub-heading-cta button {
  border: 0.1rem solid white;
  color: white;
  background-color: #2563eb;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  font-family: "inter-semibold", Arial, Helvetica, sans-serif;
}

/* Work */
.work {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding-bottom: 4rem;
}
.work > p {
  max-width: 50%;
}
.recent-works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}
.project-card {
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.4rem;
}
.project-card img {
  max-width: 100%;
  border: 0.2rem solid #ffffff;
  border-radius: 0.4rem;
}
.project-card-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.project-card-tools > p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.2rem 0.8rem;
  font-size: 0.6rem;
}
.project-card-cta-button {
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.project-card-cta-button > a {
  background-color: #2563eb;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
}
/* Footer */
.footer-wrapper {
  background-color: #5f6368;
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer p {
  color: hsl(0, 0%, 90%);
  max-width: 80%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.footer-sub-heading-links-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
