@font-face {
  font-family: "inter-regular";
  src: url(./assets/fonts/Inter_24pt-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-semibold";
  src: url(./assets/fonts/Inter_24pt-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
  color: #111111;
  background-color: #fafafa;
  --x-padding: 2rem;
  padding-top: 4.25rem;
  scrollbar-width: thin;
}
#root > * > * {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  max-width: 1100px;
  margin: 0 auto;
}
#root [id] {
  scroll-margin-top: 5rem;
}
/* Resets */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font: inherit;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Header */
.header-wrapper {
  background-color: rgb(250, 250, 250, 0.8);
  border-bottom: 0.15rem solid #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  backdrop-filter: blur(0.4rem);
}
.header {
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-name-wrapper > img {
  height: 2.8rem;
  border: 0.1rem solid black;
  border-radius: 2.8rem;
}
.logo-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-size: 1.4rem;
}
.nav-links-container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links-container ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.header-toggle-navbar-button {
  height: 1.2rem;
  display: none;
}

/* hero-illustration */
.hero {
  height: 90vh;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 4.25rem;
}
.hero-heading-sub-heading-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero-heading-sub-heading-cta h1 {
  font-size: 3rem;
  font-family: "inter-semibold", Arial, Helvetica, sans-serif;
}
.hero-heading-sub-heading-cta p {
  color: #5f6368;
  max-width: 60%;
  font-size: 1.2rem;
}
.hero-heading-sub-heading-cta button {
  border: 0.1rem solid white;
  color: white;
  background-color: #0096ff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  font-family: "inter-semibold", Arial, Helvetica, sans-serif;
}

/* Work */
.work {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding-bottom: 4rem;
}
.work > p {
  max-width: 50%;
  color: #5f6368;
}
.recent-works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}
.project-card {
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.4rem;
}
.project-card img {
  max-width: 100%;
  border: 0.2rem solid #ffffff;
  border-radius: 0.4rem;
}
.project-card-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.project-card-tool {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.2rem 0.8rem;
  font-size: 0.6rem;
  border-radius: 0.2rem;
}
.project-card-tool.tool-html {
  background-color: #f06529;
  color: white;
}
.project-card-tool.tool-css {
  background-color: #2965f1;
  color: white;
}
.project-card-tool.tool-javascript {
  background-color: #f0db4f;
  color: black;
}
.project-card-tool.tool-react {
  background-color: #61dbfb;
  color: black;
}
.project-card-cta-button {
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.project-card-cta-button > a {
  background-color: #0096ff;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
}
/* Footer */
.footer-wrapper {
  background-color: #5f6368;
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer p {
  color: hsl(0, 0%, 90%);
  max-width: 80%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.footer-links label {
  cursor: pointer;
}
.footer-sub-heading-links-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-sub-heading-links-wrapper > p {
  display: block;
}

/* Mobile */
.mobile-navbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: hsl(0, 0%, 90%);
  border: 0.15rem solid white;
  width: 80%;
  z-index: 10;
  padding: 1rem;
  transform: translate(-50%, 90%);
  opacity: 0;
  pointer-events: none;
}
.mobile-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.mobile-navbar li,
.mobile-navbar a {
  display: block;
  width: 100%;
}
.mobile-navbar a {
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.4rem;
}
@media (max-width: 768px) {
  #root {
    text-align: center;
  }
  .mobile-navbar.visible {
    transform: translate(-50%, 100%);
    opacity: 1;
    pointer-events: all;
  }

  /* Header */
  .nav-links-container {
    display: none;
  }
  .header-toggle-navbar-button {
    display: block;
  }
  .logo-name-wrapper > img {
    height: 2.4rem;
  }
  .name {
    font-size: 1rem;
  }
  .project-card-cta-button > a {
    font-size: 0.9rem;
  }

  /* Hero */
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 1rem;
  }
  .hero-illustration {
    height: 40%;
    margin: 1rem 0;
  }
  .hero-heading-sub-heading-cta {
    align-items: center;
  }
  .hero-heading-sub-heading-cta h1 {
    font-size: 2rem;
  }
  .hero-heading-sub-heading-cta p {
    max-width: unset;
  }

  /* Work */
  .work-wrapper {
    margin: 4rem 0;
  }
  .work > p {
    max-width: unset;
  }
  .project-card > h3 {
    text-align: left;
  }

  /* Footer */
  .footer-sub-heading-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer p {
    max-width: unset;
  }
  .footer-links {
    text-align: left;
    gap: 0.5rem;
  }
}

/* Transition */
.hero-heading-sub-heading-cta button,
.project-card-cta-button > a {
  transition: background-color 0.2s ease;
}
.mobile-navbar {
  transition: transform 0.25s ease, opacity 0.25s ease;
}
/* Hover */
@media (pointer: fine) {
  .nav-links-container ul li a:hover,
  .footer-links a:hover span {
    text-decoration: underline;
  }
  .hero-heading-sub-heading-cta button:hover,
  .project-card-cta-button > a:hover {
    background-color: #0086e6;
  }
}
/* Active */
.nav-links-container ul li a:active,
.footer-links a:active span {
  text-decoration: underline;
}
.hero-heading-sub-heading-cta button:active,
.project-card-cta-button > a:active {
  background-color: #0086e6;
}
