@font-face {
  font-family: "inter-regular";
  src: url(./assets/fonts/Inter_24pt-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-semibold";
  src: url(./assets/fonts/Inter_24pt-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
  color: #111111;
  background-color: #fafafa;
  --x-padding: 2rem;
  padding-top: 4.25rem;
  scrollbar-width: thin;
}
#root > * > * {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
.header-wrapper {
  background-color: rgba(55, 97, 185, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header {
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.header img {
  height: 2.8rem;
  border: 0.15rem solid white;
  border-radius: 2.8rem;
}
.logo-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-size: 1.4rem;
}
.nav-links-container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links-container ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 90vh;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 4.25rem;
}
.hero-heading-sub-heading-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero-heading-sub-heading-cta h1 {
  font-size: 3.6rem;
  font-family: "inter-semibold", Arial, Helvetica, sans-serif;
  line-height: 4rem;
}
.hero-heading-sub-heading-cta h1 span:first-child {
  color: #3e7900;
}
.hero-heading-sub-heading-cta h1 span:last-child {
  color: #0055db;
}
.hero-heading-sub-heading-cta p {
  color: #5f6368;
  max-width: 80%;
  font-size: 1.2rem;
}
.hero-heading-sub-heading-cta button {
  outline: none;
  background: none;
  border: 0.1rem solid white;
  font: inherit;
  color: white;
  background-color: #2563eb;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 1rem;
}
